@font-face {
    font-family: 'Gibi';
    font-style: normal;
    font-weight: normal;
    src: url("font/Comic\ Gibi.ttf");
}
@font-face {
    font-family: 'Gibi';
    font-style: normal;
    font-weight: bold;
    src: url("font/Comic\ Gibi\ Bold.ttf");
}
@font-face {
    font-family: 'Gibi';
    font-style: italic;
    font-weight: bold;
    src: url("font/Comic\ Gibi\ Bold\ Italic.ttf");
}
@font-face {
    font-family: 'Gibi';
    font-style: italic;
    font-weight: normal;
    src: url("font/Comic\ Gibi\Italic.ttf");
}

#hq-carousel {
    display: flex;
    width: 100vw;
    height: calc(100vh - 60px);
    min-height:550px;
    background-color: #5F6A81;
    margin: 30px 0;
    justify-content: center;
    position: relative;
    transition: 1s;
    flex-wrap: wrap;
}
#hq-carousel > .container {
    align-self: center;
    display: grid;
    max-width: 960px;
    max-height: 540px;
    gap: 20px 20px;
    position: absolute;
    grid-template-rows: minmax(calc( 50% - 60px), 260px) minmax(calc( 50% - 100px), 160px);
    grid-template-columns: minmax(auto, 290px) minmax(auto, 230px) minmax(auto, 110px) minmax(auto, 270px);
}

#hq-carousel .square {
    background-repeat: no-repeat;
    background-position: center;
    background-clip: content-box;
    background-size: cover;
    border: solid 3px #1D1D1D;
    box-shadow: 3px 3px 6px #0000005b;
    align-self: center;
    display: block;
    z-index: 2;
}

#hq-carousel .square .balloon{
    transition: .5s;
}

#hq-carousel #square0{
    width: auto;
    height: 100%;
    grid-row: 1 / 3;
    grid-column: 1 / 2;
    position: relative;
}
#hq-carousel #square1{
    width: auto;
    height: 100%;
    grid-column: 2 / 4;    
    position: relative;
}
#hq-carousel #square2{
    width: auto;
     height: 100%;
    grid-column: 4 / 5;    
    position: relative;
}

#hq-carousel #square3{
    width: auto;
    height: 100%;
    grid-column: 2 / 3;    
    position: relative;
}
#hq-carousel #square4{
    width: auto;
    height: 100%;
    grid-column: 3 / 5;    
    position: relative;
}


#hq-carousel .balloon {
    position: absolute;
    width: 220px;
    height: 180px;
    background-image: url('img/balloon0.svg');
    display: block;
    background-size: contain;
    background-repeat: no-repeat;
    padding: 6px 35px;
    box-sizing: border-box;
    text-align: center;
    font-family: 'Gibi';
    font-size: 14px;
    font-weight: normal;
    letter-spacing: 2px;
}

#hq-carousel .square:first-child .balloon {
    top: -70px;
    left: -70px;
}
#hq-carousel .square:nth-child(2) .balloon {
    top: -50px;
    left: 25px;
}
#hq-carousel .square:nth-child(3) .balloon {
    top: -85px;
    left: 110px;
    transform: scaleX(-1);
}
#hq-carousel .square:nth-child(3) .balloon h4{
    transform: scaleX(-1);
}
#hq-carousel .square:nth-child(4) .balloon {
    top: -30px;
    left: -100px;
    padding: 5px 7px;
    background-image: url('img/balloon1.svg');
}
#hq-carousel .square:nth-child(5) .balloon {
    top: -20px;
    left: -40px;
    padding: 5px 10px;
    width: 260px;
    background-image: url('img/balloon2.svg');
}

#hq-carousel .button {
    width: 80px;
    height: 80px;
    background-color: #1D1D1D;
    display: block;
    border-radius: 50%;
    z-index: 4;
    background-image: url('img/set.svg');
    background-repeat: no-repeat;
    background-position-x: 12px;
    background-position-y: 6px;
    box-shadow: #000000a6 8px 8px 8px;
    background-color: rgb(233, 233, 233);
}
#hq-carousel .button#button-left {
    margin: auto auto auto 5%;

}
#hq-carousel .button#button-right {
    margin: auto 5% auto auto;
    transform: scaleX(-1);
}
.hidden .square {
    visibility: hidden;
    opacity: 0;
    z-index: 0;
}
@keyframes nextsquare {
    0%   {opacity: 0;}
    100% {opacity: 1;}
}
@keyframes nextballoon {
    0%   {opacity: 0;}
    45%  {opacity: 0;}
    100% {opacity: 1;}
}
.unhidden .square:first-child{  animation: nextsquare 0.4s;}
.unhidden .square:nth-child(2){  animation: nextsquare 0.8s;}
.unhidden .square:nth-child(4){  animation: nextsquare 1.2s;}
.unhidden .square:nth-child(3){  animation: nextsquare 1.6s;}
.unhidden .square:nth-child(5){ animation: nextsquare 2s;}
.unhidden .square:first-child .balloon {  animation: nextballoon 1.1s;}
.unhidden .square:nth-child(2) .balloon {  animation: nextballoon 1.3s;}
.unhidden .square:nth-child(4) .balloon {  animation: nextballoon 1.5s;}
.unhidden .square:nth-child(3) .balloon {  animation: nextballoon 1.7s;}
.unhidden .square:nth-child(5) .balloon { animation: nextballoon 2s;}
.minisquare img {
    width: 200px;
    min-height: 35px;
    position: absolute;
    z-index: 1;
    bottom: 0;
    right: 0;
    
    max-width: 100%;
    
    max-height: 100%;
}
.minisquare p{
    position: relative;
    z-index: 2;
    margin-left: 25px;
}
.minisquare {
    background-image: url('img/mini-square-background.svg');
    background-size: cover;
    background-repeat: no-repeat;
    padding: 10px 25px ;
    box-sizing: border-box;
    min-width: 210px;
    max-width: 100%;
    height: auto;
    position: absolute;
    bottom:  0px;
    right:  -2px;
    font-family: "Gibi";
    font-size: 12px;
    z-index: -1;
}

@media only screen and (max-width: 960px) {
    #hq-carousel {
        min-height: 800px;
        height: auto;
        overflow: hidden;
    }
    #hq-carousel > .container {
        align-self: center;
        display: grid;
        margin: 10px;
        max-width: 540px;
        min-height: 85% !important;
        gap: 20px 20px;
        position: absolute;
        grid-template-rows: repeat(4, minmax(20%, 150px));
        grid-template-columns: repeat(2, minmax(40%, 260px));
        width: auto;
    }
    #hq-carousel .button#button-right {
        margin: auto -30px auto auto;
        transform: scaleX(-1);
    }
    #hq-carousel .button#button-left {
        margin: auto auto auto -30px;
    }
    #hq-carousel #square0{
        grid-row: 1 / 3;
        grid-column: 1 / 2;
    }
    #hq-carousel #square1{
        grid-column: auto;  
    }
    #hq-carousel #square2{
        grid-column: auto;   
    }
    
    #hq-carousel #square3{
        grid-column: 1 / 3;   
    }
    #hq-carousel #square4{
        grid-column: 1 / 3;    
    }
    #hq-carousel .square .balloon {
        font-size: clamp(9px, 1vw, 13px);
    }
    #hq-carousel .square:first-child .balloon {
        max-width: 200px;
        width: 40vw;
        top: -30px;
        left: -15px;
    }
    #hq-carousel .square:nth-child(2) .balloon {
        max-width: 200px;
        width: 40vw;
        top: -40px;
        left: -25px;
    }
    #hq-carousel .square:nth-child(3) .balloon {
        max-width: 170px;
        width: 40vw;
        top: -25px;
        left: 40px;
    }
    #hq-carousel .square:nth-child(4) .balloon {
        max-width: 210px;
        top: -15px;
        width: 50vw;
        left: -10px;
    }
    #hq-carousel .square:nth-child(5) .balloon {
        max-width: 225px;
        width: 50vw;
        left: -10px;
    }

    #hq-carousel .square:hover {
        width: auto !important;
        height: 100% !important;
        margin-left: 0 !important;
        margin-top: 0;
        box-shadow: 3px 3px 6px #0000005b;
    }
    .minisquare {
        min-width: 100px;
        width: 210px;
        max-width: 40vw;
        font-size: 10px;
    }
}


@media only screen and (min-width:960px){
    #hq-carousel .square:hover {
        width: 110% !important;
        height: 110% !important;
        margin-left: -5% !important;
        margin-top: -5%;
        transition: 0.3s;
        z-index: 3;
        box-shadow: 35px 20px 12px #00000083;
    }
    #hq-carousel .square:hover .balloon {
        width: 270px;
        height: 210px;
        font-size: 18px;
        margin-top:-20px;
    
    }
    #hq-carousel .square:nth-child(2):hover .balloon { margin-left: -40px;}
    #hq-carousel .square:nth-child(3):hover .balloon { margin-left: -50px;}
}

