@font-face {
    font-family: 'Gibi';
    font-style: normal;
    font-weight: normal;
    src: url("../font/Comic\ Gibi.ttf");
}
#hq-carousel {
    display: flex;
    width: 100vw;
    height: calc(100vh - 60px);
    min-height:640px;
    background-color: #5F6A81;
    margin: 30px 0;
    justify-content: center;
    position: relative;
    transition: 1s;
}
#hq-carousel > .container {
    align-self: center;
    display: grid;
    max-width: 1024px;
    gap: 20px 20px;
    position: relative;
    grid-template-rows: minmax(calc( 45vh - 60px), 260px) minmax(calc( 45vh - 100px), 160px);
    grid-template-columns: minmax(auto, 290px) minmax(auto, 250px) minmax(auto, 140px) minmax(auto, 280px);
}

#hq-carousel .square {
    /* overflow: hidden; */
    background-repeat: no-repeat;
    background-position: center;
    background-clip: content-box;
    background-size: cover;
    border: solid 3px #1D1D1D;
    box-shadow: 3px 3px 6px #0000005b;
    align-self: center;
    display: block;
    transition: 1s;
}
#hq-carousel .square .baloon{
    transition: .5s;
    
}
#hq-carousel .square:hover {
    /* background-size: 120% 120%; */
    width: 110% !important;
    margin-left: -5% !important;
    margin-top: -15%;
    transition: 0.3s;
    z-index: 2;
    box-shadow: 15px 15px 8px #00000083;
}
#hq-carousel .square:hover .baloon {
    width: 270px;
    height: 210px;
    font-size: 18px;
    margin-top:-40px;

}
#hq-carousel .square:nth-child(2):hover .baloon { margin-left: -40px;}
#hq-carousel .square:nth-child(3):hover .baloon { margin-left: -40px;}
#hq-carousel #square0{
    width: auto;
    height: 100%;
    grid-row: 1 / 3;
    grid-column: 1 / 2;
    position: relative;
}
#hq-carousel #square1{
    width: auto;
    height: 100%;
    grid-column: 2 / 4;    
    position: relative;
}
#hq-carousel #square2{
    width: auto;
     height: 100%;
    grid-column: 4 / 5;    
    position: relative;
}

#hq-carousel #square3{
    width: auto;
    height: 100%;
    grid-column: 2 / 3;    
    position: relative;
}
#hq-carousel #square4{
    width: auto;
    height: 100%;
    grid-column: 3 / 5;    
    position: relative;
}


#hq-carousel .baloon {
    position: absolute;
    width: 220px;
    height: 180px;
    background-image: url('img/baloon0.svg');
    display: block;
    background-size: contain;
    background-repeat: no-repeat;
    padding: 6px 35px;
    box-sizing: border-box;
    text-align: center;
    font-family: 'Gibi';
    font-size: 14px;
    font-weight: normal;
    letter-spacing: 2px;
}

#hq-carousel #square0 .baloon {
    top: -70px;
    left: -70px;
}
#hq-carousel #square1 .baloon {
    top: -50px;
    left: 25px;
}
#hq-carousel #square2 .baloon {
    top: -75px;
    left: 150px;
    transform: scaleX(-1);
}
#hq-carousel #square2 .baloon h4{
    transform: scaleX(-1);
}
#hq-carousel #square3 .baloon {
    top: -30px;
    left: -100px;
    padding: 5px 7px;
    background-image: url('img/baloon1.svg');
}
#hq-carousel #square4 .baloon {
    top: -20px;
    left: -40px;
    padding: 5px 10px;
    width: 260px;
    background-image: url('img/baloon2.svg');
}

#hq-carousel .button {
    width: 80px;
    height: 80px;
    background-color: #1D1D1D;
    display: block;
    border-radius: 50%;
    z-index: 4;
    background-image: url('img/set.svg');
    background-repeat: no-repeat;
    background-position-x: 12px;
    background-position-y: 6px;
    box-shadow: #00000083 1px 1px 6px;
    background-color: rgb(233, 233, 233);
}
#hq-carousel .button#button-left {
    margin: auto -30px auto 0;

}
#hq-carousel .button#button-right {
    margin: auto 0 auto -30px;
    transform: scaleX(-1);
}