
@font-face {
    font-family: 'Gibi';
    font-style: normal;
    font-weight: normal;
    src: url("/font/Comic\ Gibi.ttf");
}
body {
    font-family: 'IBM Plex Sans', sans-serif;
}
a{ text-decoration: none;}
#header{
    display: flex;
    height: 180px;
}
#button-menu{display: none;}
#button-menu span{
    margin: 10px;
    width: 35px;
    height: 3px;
    border-radius: 5px;
    background-color: white;
    position: relative;
    display: block;
}
#button-menu span::before, #button-menu span::after{
    content: '';
    background: #fff;
    display: block;
    width: 35px;
    height: 3px;
    position: absolute;
    border-radius: 10px;

}
#button-menu span::before{
    top: -8px;
}
#button-menu span::after{
     bottom: -8px;
 }
#container-menu {
    align-self: flex-end;
    align-content: center;
    width: 100%;
    background-color: #161616;
    display: flex;
    justify-content: center;
}
#menu {
    width: 1024px;
    background-color: #161616;
    color: white;
    height: 50px;
    display: flex;
}
#menu > * {  align-self: center;}
#menu .dropdown > li > a{ color: white;  font-size: 18px; }
.dropdown { 
    display: flex;
    font-family: "Gibi";
    padding-left: 20px;
    z-index: 999 !important;
}
.dropdown > li + li{ margin-left: 35px;}
.dropdown * { list-style: none; color: black }
.dropdown > li > ul > li {
    width: calc(100% - 12px);
    margin-left: 2px; 
}
.dropdown > li > ul > li > ul > li {
    width: 65%;
}
ul.dropdown > li > ul { 
    font-size: 20px;
    background: url('img/Balloon-dropdown.svg') no-repeat ;
    background-size: contain;
    background-position: top 0px;
    background-attachment: scroll;
    padding-top: 95px;
    padding-left: 0px;
    padding-bottom: 50px;
    box-sizing: border-box;
    transition: all .7s;
    width: 200px;
    height: 290px;
    position: absolute;
    visibility: hidden;
    opacity: 0;
}
ul.dropdown > li > ul > li {
    padding: 3px 25px;
    box-sizing: border-box;
    min-width: 140px;
}
.dropdown ul > li:hover  { background: orangered; }
.dropdown > li:hover > ul, .dropdown > li > ul:hover { visibility: visible; opacity: 1;}
ul.dropdown > li > ul > li > ul { 
    
    background: url('img/excla-balloon.svg') no-repeat;
    background-attachment: scroll;
    background-size: auto;
    background-size: contain;
    background-position: top 0px;
    background-attachment: scroll;
    padding-top: 65px;
    padding-left: 60px;
    padding-bottom: 50px;
    transition: all .7s;
    width: 350px;
    height: 200px;
    position: absolute;
    left: 175px;
    margin-top: -40px;
    opacity: 0;
    visibility: hidden;
    box-sizing: border-box;
    padding-right: 60px;
}
.dropdown > li > ul > li:hover > ul, 
.dropdown > li > ul > li > ul:hover,
.dropdown > li:hover ul::before, 
.dropdown > li:hover ul::after 
{ visibility: visible; opacity: 1; z-index: 999 !important;}
#container {
    min-height: 500px;
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#main {
    display: flex;
}

.post {
    max-width: 410px;
    height: 170px ;
    display: block;
    overflow: hidden;
    border-radius: 5px 5px 0 0;
}
.post > span {
    width: 100%;
    height: 120px;
    position: relative;
    box-sizing: border-box;
    padding: 20px;
    background-image: linear-gradient( transparent, rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.7));
    color: white;
    display: block;
    transition: .6s;
    margin-top: -120px;
    line-height: 30px;
}
.post h4 { font-size: 27px;}
.post h4 , .post p { margin: 0; }
.post p:last-child { 
    position: absolute;
    bottom: 0;
    right: 20px;
    font-family:   'Gibi';
    font-style: italic;
    font-weight: lighter;
    font-size: 12px;
}
.post img {
    width: 100%; 
    height: 100%;
    display: block;
    flex: 1 1 250px;
    transition: .6s;

}
.post:hover img {
    width: calc(12px + 100%);
    height: calc(12px + 100%);
}
.post:hover span {
    margin-top: calc(-12px + -120px);
}
#side {  
    display: flex;
    flex-wrap: wrap;
    max-width: 400px;
    margin-top: 25px;
    margin-left: 18px;
    flex: 1 1 300px;
}
#side .post {
    max-width: 400px;
    flex: 1 1 250px;
}
#side .post:last-child { border-radius: 0 0 8px 8px;}
#side .post span h4 { font-size: 23px;}
/* #side .post + .post { margin-top: 0px;} */

#sub-post {
    margin-top: 35px;
    display: flex;
    width: 100%;
    max-width: 1024px;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
#sub-post .post {
    max-width: 320px;
    width: auto !important;
    height:200px;
    flex: 1 1 300px;
}
#sub-post .post p {  font-size: 14px;}
#sub-post .post p:last-child {  
    font-size: 11px;
    letter-spacing: 1.2px;
}
#sub-post .post:last-child{
    margin-top: 25px;
    margin-bottom: 25px;
    width: 100%;
    height: 300px ;
    max-width: 1024px;
    flex: 1 1 300px;
    position: relative;

}
#sub-post .post:last-child::before {
    content: '';
    width: 100%;
    height: 100%;
    background-image: radial-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.096),rgba(0, 0, 0, 0.500), rgba(0, 0, 0, 0.700));
    z-index: 2;
    position: absolute;

}

#sub-post .post:last-child span{
    padding-top: 50px;
    max-width: 100%;
    height: 170px;
    flex: 1 1 300px;
    margin-top: -170px;
    z-index: 3;
    background: none;
}
#sub-post .post:last-child:hover span{
    margin-top: -182px;
}
#sub-post .post:last-child h4{
    font-size: 40px;
    line-height: 50px;
}
#sub-post .post:last-child p { font-size: 22px;}
#news {
    width: 100%;
    min-height: 504px;
    max-width: 1024px;
    margin-bottom: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}
#news header {
    background-image: url('img/sep.svg');
    background-position-y: -5px;
    width: 100%;
    /* background-position-x: -10px; */
    background-size: 35px;
    background-repeat: repeat-x;
    background-color: #E2EBFF;
    height: 34px;
    margin: 20px 0px 10px 0px;
}
#news header > h4 { 
    margin: 0 0 0 100px;
    color: #5A7FD6;
    font-size: 30px;
    font-weight: bolder;
    background-color: white;
    display: inline-block;
    padding: 0 10px;
    box-sizing: border-box;
}

#news .list {
    list-style: none;
    display: grid;
    grid-template-columns: 120px 1fr;
    grid-template-rows: 20px 20px 80px;
    row-gap: 5px;
    column-gap: 20px;
}
#news .list img {
    border-radius: 50%;
    width: 120px;
    height: 120px;
    grid-column: 1 / 2;
    grid-row: 1 / 4;
    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.438);
    position: relative;
    transition: .4s linear;
} 
#news .list:hover img { 
    filter: grayscale(1);
    /* transform: rotate3d(0, 1 , 0, 360deg); */
    /* transform: skew(10deg, 10deg); */
    /* transform: translate3d(100px, 50%); */
    /* transform: matrix(1, 2, -1, 1, 80, 80); */
    /* transform: perspective(7.5cm); */
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.575);
    transition: 0.8s;
}
#news li > p, #news li > span, #news li > h5{ margin: 0}
#news h5 { 
    color: #4e4e4e;
    font-size: 20px;
}
#news li > span { 
    color: #707070;
    font-size: 10px;
    font-family: 'Gibi';
    font-style: italic;
    
}
#news li > p { color: #3a3a3a;}
#news div:nth-child(2) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}
#news div .post {
    width: 100%;
    height: 220px;
}
#news div .post:last-child{
    border-radius: 0 0 8px 8px;
}

#footer { 
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: 350px;
    width: 100%;
    background-color: rgb(20, 20, 20);
    color: white;
    font-family:   'Gibi';
    font-size: 20px;
}
#footer > span:first-child {
    background-color: #0e0e0e;
    width: 100%;
    height: 70px;
    align-self: flex-start;
}
#footer ul { 
    width: 100%;
    display: flex;
    list-style: none;
    justify-content: center;
    align-content: center;
}
#footer ul > li { letter-spacing: 3px;}
#footer ul > li + li { margin-left: 30px;}
#footer p {
    height: 15px;
    margin:10px;
    padding: 0;
    align-self: flex-end;
    letter-spacing: 2px;
}

@media (max-width: 480px){
    /* #body { overflow-x: hidden;} */
    /* #sub-post{
        min-width: 1300px;
        width: 1400px;
        flex-wrap: nowrap;
        height: 300px;
        overflow-x: scroll;
        justify-content: space-around;
        align-content: space-around; */
   /* } */
}